@import '../../../Variables.scss';
@import '../resume.module.scss';

.courses {
  margin: auto;
  width: max-content;
  line-height: 2rem;

  .course {
    font-weight: 500;
    font-size: 1rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: $phoneWidth) {
}
