@import '../../../Variables.scss';
@import '../resume.module.scss';

.container {
  margin-bottom: 2rem;

  .year {
    margin-right: 2rem;
  }

  .education {
    font-size: 1.25rem;
    margin-left: 1rem;

    .college {
      font-size: 1rem;
      font-weight: 500;
      margin-right: 0.75rem;
    }

    .major {
      font-size: 0.75rem;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
}
