@import '../../../Variables.scss';

.container {
  display: grid;
  grid-template-columns: 90% 10%;

  .header {
    .name {
      font-size: 3rem;
      font-weight: 700;
    }

    .school {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
}
