@import '../../../Variables.scss';
@import '../resume.module.scss';

.container {
  margin-bottom: 2vw;

  .skills {
    margin: auto;
    width: max-content;
    line-height: 2rem;

    .skill {
      font-weight: 500;
      margin-right: 2rem;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
}
