@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --mainColor: #96B0EA;
    --sideColor: #3D6199;
    --badgeTrans: all 0.7s ease-out;
}

* {
    font-family: 'DM Sans', sans-serif;
    text-indent: 2.5vw;
}

/* GENERAL */
h1 {
    font-weight: 700;
    font-size: 3.5vw;
}


h2 {
    font-weight: 500;
    font-size: 2vw;
}

h3 {
    font-weight: 200;
    font-size: 1.3vw;
}

p{
    font-weight: 500;
    font-size: 1.5vw;
}

br {
    line-height: 0px;
    margin: 0px;
}

body {
    background-color: #E1EBF9;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: white;
}

/* Nav Bar */
.navLink{
    font-size: 2vw; 
    font-weight: 500;
    padding: 6px;
    color: var(--mainColor);
    transition: color 0.5s ease-out; 
}

.highlight{
    color: var(--sideColor);
    cursor: default;
}

.navLink:hover{
    color: var(--sideColor);
}

.navItem {
    text-indent: 0vw;
    float: right;
}

#navBar{
    list-style-type: none;
    margin-right: 3vw;
    margin-top: 3vw;
}

/* ------ Resume ------ */
/* --- General --- */

.line{
    position: relative;
    background-color: black;
    border-radius: 100vw;
    width: 58vw;
    height: 0.2vw;
    top: -1.5vw;
    left: 2vw
}

#page{
    position: absolute;
    background-color: white;
    border-radius: 1vw;
    width: 65vw;
    height: 115vw;
    top: 10vw;
    left: 50vw;
    transform: translate(-50%);
}

.same_ln{
    float: left;
}

#dl_button{
    position: absolute;
    left: 58.7vw;
    top: 2.6vw;
}
/* --- title --- */
#name{
    margin-bottom: 0vw;
}

#school{
    margin-top: 0vw;
}

/* --- contact --- */
.link{
    color: black;
    font-weight: 200;
}

#contact{
    position: relative;
    top: 1vw;
}

.contact_info{
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
}

#education_break{
    display: block;
    margin-bottom: 9vw;
}
/* --- Project --- */
#project_break{
    display: block;
    margin-bottom: 6vw;
}

.project_desc{
    position: relative;
    top: -3vw;
    left: 6vw
}

.project_title{
    font-weight: 700;
    font-size: 1.4vw;
    margin-bottom: 0vw;;
}

.project_tool{
    position: relative;
    margin-top: 0.3vw;
    margin-bottom: 1.5vw;
    left: 1vw;
}

.project_bullets{
    position: relative;
    left: 2vw;
}

.info_row{
    margin-bottom: 0.3vw;
    margin-top: 0.3vw;
}

/* --- Skills --- */
#rel-skill{
    position: relative;
    top: -1.5vw;
}

#skills{
    position: relative;
    word-spacing: 2vw;
    left: 10vw;
    
}

.sw{ /* "single word*/
    word-spacing: normal;
}

/* --- Courses --- */
#courses{
    position: relative;
    word-spacing: 2vw;
    left:10vw;
}

/* ------- Footer -------*/
footer{
    position: absolute;
    top: 150vw;
    left: 0vw;
    width: 100vw;
    height: 10vw;
    background-color: var(--mainColor);
}

#foot-logo{
    position: absolute;
    left: 47.25vw;
    transform: translate(-50%, -50%);
}

#foot-links{
    position: absolute;
    top: 4.5vw;
    left: 49.25vw;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

.foot-link{
    font-size: 1.5vw;
    margin: 2vw;
}

#foot-copyright{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 49.25vw;
    top: 8vw;
}

#copyright{
    font-size: 1.2vw;
    color: var(--sideColor);
}