/* ----- Left -----*/
#me-left{
    position: relative;
    top: 2.5vw;
    left: 15vw;
}

/* left-title */
.mlt1-B{
    top: -2.5vw;
    left: 6.5vw;
}

/* left-shadow */
.ml-shadow-B{
    right: -1vw;
    bottom: -1vw;
}

/* left-circuit */
.circuit-B{
    position: absolute;
    top: 23vw;
    left: 4vw;
    transition: all 0.4s ease-out;  
    cursor: pointer;
}

.circuit-F{
    animation: flip-circuit 1s ease;
    top: 25.1vw;
    left: 2vw;
    cursor: default;
}

/* left-circle1 */
.back:hover .mlCrc1-B{
    top: -24.25vw;
    left: -1.3vw;
    width: 2.2vw;
    height: 2.2vw;
}

.mlCrc1-B{
    position: absolute;
    top: -23vw;
    left: -1.2vw;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    transition: all 0.4s ease-out;  

    background: var(--mainColor);
    border:0.60vw solid var(--sideColor);
    z-index: 1;
}

.mlCrc1-F{
    animation: flip-LCir1 1s ease;
    background: transparent;
    border:0.75vw solid white;
    top: -30.50vw;
    left: -1.5vw;
    width: 2.4vw;
    height: 2.4vw;
}

/* left-circle2 */
.back:hover .mlCrc2-B{
    width: 4.5vw;
    height: 4.5vw;
}

.mlCrc2-B{
    position: absolute;
    right:-0.8vw;
    top: 0vw;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    border-top-right-radius: 0%;
    transition: all 0.4s ease-out, border-color 0.4s ease-out;
    transition-delay: 0.0s, 0.26s;
    background: var(--mainColor);
    border:0.80vw solid var(--sideColor);
    z-index: 1;
}

.mlCrc2-F{
    animation: flip-LCir2 1s ease;
    right:-1vw;
    top: -0.2vw;
    width: 3.5vw;
    height: 3.5vw;
    background: transparent;
    border:1vw solid white;
}


/* left-circle3 */
.back:hover .mlCrc3-B{
    right: -43vw;
    width: 2.2vw;
    height: 2.2vw;
}

.mlCrc3-B{
    position: absolute;
    right: -42vw;
    bottom: -2vw;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    transition: all 0.4s ease-out;  

    background: var(--mainColor);
    border:0.60vw solid var(--sideColor);
    z-index: 1;
}

.mlCrc3-F{
    animation: flip-LCir3 1s ease;
    bottom: -2.1vw;
    right: -46.2vw;
    width: 2.4vw;
    height: 2.4vw;
    background: transparent;
    border:0.75vw solid white;
}

/* left-bar1 */
.back:hover .mlBar1-B{
    height: 21vw;
}

.mlBar1-B{
    position: absolute;
    bottom: 0vw;
    left: 0vw; 
    width: 0.8vw;
    height: 20vw;
    background: linear-gradient(to bottom, var(--sideColor) 50%, white 50%) top;
    background-size: 200% 200%;
    transition: all 0.4s ease-out;
}

.mlBar1-F{
    animation: flip-LBar1 1s ease;
    background-position: bottom;    
    width: 1vw;
    height: 27vw;
}

/* left-bar2 */
.back:hover .mlBar2-B{
    width: 39.5vw;
}

.mlBar2-B{
    position: absolute;
    width: 38.5vw;
    height: 0.8vw;
    bottom: -0.8vw;
    left: 0.5vw;
    background: linear-gradient(to left, var(--sideColor) 50%, white 50%) right;
    background-size: 200%;
    transition: all 0.4s ease-out;
}

.mlBar2-F{
    background-position: left;
    animation: flip-LBar2 1s ease; 
    height: 1vw;
    width: 42.1vw;
}

/* ------- Animation  -------*/
/* Me-left*/
@keyframes flip-circuit{
    0%{
        top: 23vw;
        left: 4vw;
    }
    100%{
        top: 25.1vw;
        left: 2vw;
    }
}

@keyframes flip-LCir1{
    0%{
        top: -24.25vw;
        left: -1.3vw;
        width: 2.2vw;
        height: 2.2vw;
        background: var(--mainColor);
        border:0.60vw solid var(--sideColor);
    }
    50%{
        background: transparent;
    }
    75%{
        border:0.70vw solid var(--sideColor);
    }
    100%{
        top: -30.50vw;
        left: -1.5vw;
        width: 2.4vw;
        height: 2.4vw;
        border:0.75vw solid white;
    }
}

@keyframes flip-LCir2{
    0%{
        width: 4.5vw;
        height: 4.5vw;
        right:-0.7vw;
        background: var(--mainColor);
        border:0.80vw solid var(--sideColor);

    }
    50%{
        background: transparent;
        border:1vw solid var(--sideColor);
    }
    60%{
        border:1vw solid white;
    }
    100%{
        right:-1vw;
        top: -0.2vw;
        width: 3.5vw;
        height: 3.5vw;
        border:1vw solid white;
    }
}

@keyframes flip-LCir3{
    0%{
        bottom: -2vw;
        right: -43vw;
        width: 2.2vw;
        height: 2.2vw;
        border:0.60vw solid var(--sideColor);
    }
    50%{
        background: var(--mainColor);
    }
    75%{
        border:0.60vw solid var(--sideColor);
    }
    100%{
        bottom: -2.1vw;
        right: -46.2vw;
        width: 2.4vw;
        height: 2.4vw;
        background: transparent;
        border:0.75vw solid white;
    }
}

@keyframes flip-LBar1{
    0%{
        height: 21vw;
        width: 0.8vw;
        background-position: top;
    }
    50%{
        background-position: top;
    }
    80%{
        background-position: bottom;
    }
    100%{
        height: 27vw;
        width: 1vw;

    }
}

@keyframes flip-LBar2{
    0%{
        height: 0.8vw;
        width: 39.5vw;
        background-position: right;
    }
    50%{
        background-position: right;
    }
    80%{
        background-position: left;
    }
    100%{
        height: 1vw;
        width: 42.1vw;
    }
}