@import '../../Variables.scss';

.resume{
    .indent{
        text-indent: 2.5vw;
    }

    .page{
        position: relative;
        margin: 12vw 0 10vw 50vw ;
        width: 68vw;
        padding: 1vw;
        background-color: white;
        border-radius: 1vw;
        color: $shadeColor;
        transform: translate(-50%);
        
        .dl{
            position: absolute;
            margin: 3.5vw 0 0 59vw;
            height: 3.4vw;
            text-indent: 0;
            
            .dl_button{
                transition: transform 0.4s ease;
                &:hover{
                    transform: scale(1.1,1.1)
                }
            }
        }
        
        .same_ln{
            float: left;
        }

        .line{
            position: relative;
            top: -1.5vw;
            margin-left: 2vw;
            width: 62vw;
            height: 0.2vw;

            background-color: $shadeColor;
            border-radius: 10vw;
        }

        .name{
            margin-bottom: 0vw;
        }
        
        .school{
            margin-top: 0vw;
        }

        .contact{
            position: relative;
            margin-top: 2vw;
        
            .contact_info{
                margin: 0.4vw 0 0.4vw;
                .link{
                    color: $shadeColor;
                    font-weight: 200;
                }
            }
        }

        .education_break{
            display: block;
            margin-bottom: 9vw;
        }

        .project_break{
            display: block;
            margin-bottom: 6vw;
        }
        
        .project_desc{
            position: relative;
            top: -3vw;
            margin-left: 6vw;
            .project_title{
                margin-bottom: 0vw;;
                font-weight: 700;
                font-size: 1.4vw;
            }
        
            .project_tool{
                position: relative;
                margin: 0.3vw 0 1.5vw 1vw;
            }
        }
        
        .info_row{
            margin: 0.3vw 0 0.3vw 0;
            .sw{ /* "single word*/
                word-spacing: normal;
                margin-right: 2vw;
            }
        }
        
        .rel-skill{
            position: relative;
            top: -1.5vw;
            line-height: 2.5vw;

            .skills{
                margin-left:11vw;
                word-spacing: 2vw;
            }
        }

        .courses{
            margin: 0 0 3vw 11vw;
            word-spacing: 2vw;
            line-height: 2.5vw;
        }
    }
}

@media screen and (max-width: $phoneWidth) {
    .resume{
        h2{
            margin-top:  5vw;
            font-size: 3.3vw;    
        }
    
        h3{
            font-size: 2.2vw;
        }
    
        li{
            margin-bottom: 1.5vw;
            width: 67vw;
            font-size: 2.2vw;
        }

        .indent{
            text-indent: 4vw;
        }

        .page{
            width: 88vw;
            margin-top: 15vw;
            margin-bottom: 15vw;

            .dl{
                position: absolute;
                margin: 4.5vw 0 0 77vw;
                height: 6vw;
                .dl_button{
                    width: 6vw;
                    height: 6vw;
                    &:hover{
                        transform: none
                    }
                }
            }

            .line{
                margin: 0 0 1vw 3vw;
                width: 83vw;
            }

            .name{
                margin-top: 2vw;
                font-size: 8vw;
            }

            .school{
                margin-top: 0.5vw;
                font-size: 2.6vw;
            }
            
            .contact{
                margin-bottom: 15vw;
                .contact_info{
                    margin-right: 2vw;
                    margin-bottom: 1vw;
                }
            }

            .education{
                margin-bottom: 11vw;
            }

            .project_desc{
                top: -5vw;
                margin-left: 10vw;
                .project_title{
                    margin-bottom: 0vw;;
                    font-weight: 700;
                    font-size: 2.2vw;
                }
            }

            .info_row{
                margin: 1vw 0 1vw 0;
                font-size: 2.2vw;
                .sw{ /* "single word*/
                    margin-right: 4vw;
                }
            }
            
            .rel-skill .skills{            
                margin-left:8vw;
                word-spacing: 4vw;
            }

            .courses{
                margin: 0 0 8vw 6vw;
            }
        }
    }
}