@import '../../Variables.scss';

.home{
    z-index: -1;
}

#head_logo{
    position: absolute;
    top: 3vw;
    left: -12.1vw;
    z-index: 1;
}


#title_box {
    position: relative;
    
    width: 61vw; 
    height: 219w;
    top: 21vw;
    left: 49.5vw;
    
    border-radius: 4vw;
    background: #E1EBF9;
    box-shadow: 3vw 3vw 3vw 0.1vw rgba(41, 43, 65, 0.1);
    padding: 2vw;
    transform: translate(-50%, -50%);
    margin-top: 2vw;
    
    text-align: center;

    .sc{
        color: $sideColor;
    }
    
    .mc{
        color: $mainColor;
    }

    .hidden_link{
        font-weight: 600;
        color: $mainColor;
        animation: glow 3.5s ease infinite;
    }
    
    #my_name{
        font-size: 5vw;
        margin: 0vw;
        color: $mainColor;
    }
}

/* ------- Projects -------*/
#project-label{
    position: relative;
    text-align: center;
    font-size: 3vw;
    top: 23vw;
    color: $sideColor
}


/* ------- About Me -------*/
#aboutMe{
    position: relative;
    margin-top: 30vw;
    margin-bottom: 20vw;
    #aboutMe-label{
        position: absolute;
        font-size: 3vw;
        left: 61vw;
        top: 0vw;
        color: $sideColor
    }
}

/* ------- Animation  -------*/
@keyframes glow{
    0%, 100%{ color: $mainColor;}
    50%{ color: #abc4f8;}
}


@media screen and (max-width: $phoneWidth) {
    #head_logo{
        position: absolute;
        top: -4vw;
        left: -21.25vw;
        z-index: 1;
        .my_logo{
            width: 22vw;
            height: 22vw;
            animation: floater 4s ease infinite;
        }
    }
    
    
    #title_box {        
        width: 77vw; 
        height: 30vw;
        top: 35vw;
        left: 49.5vw;
        
        border-radius: 5vw;
        box-shadow: 3vw 3vw 3vw 0.1vw rgba(41, 43, 65, 0.1);
        padding: 3vw;    
        
        .my_slogan{
            margin-top:5vw;;
            margin-bottom: 1vw;
        }
        .my_title{
            margin-top: 1vw;
        }

        h2{
            font-size: 2.8vw;
        }

        .hidden_link{
            font-weight: 600;
        }
        
        #my_name{
            font-size: 8.5vw;
            margin: 0vw;
        }
    }

    #project-label{
        font-size: 4vw;
        top: 29vw;
    }
    
    /* ------- About Me -------*/
    #aboutMe{
        margin-top: 40vw;
        margin-bottom: 20vw;
        #aboutMe-label{
            font-size: 3vw;
            left: 61vw;
            top: 0vw;
        }
    }
}