#contact_box2{
    position: absolute;
    width: 18vw;
    height: 10vw;
    top: 11vw;
    left: 31vw;
    border-radius: 1.7vw;
    transform: translate(-50%, -50%);
    background-color: var(--mainColor);
    z-index: 1;
}

.logo{
    position: relative;
    top: 1.5vw;

}

#ln_logo{
    float: left;
    left: 2vw;
}

#git_logo{
    float: left;
    padding-left: 2vw;
    left: 2vw;
}

#be_logo{
    position: relative;
    padding-left: 2vw;
    float: left;
    left: 2vw;
}

#in_logo{
    position: relative;
    padding-left: 2vw;
    float: left;
    left: 2vw;
}

#contact_box3{
    position: absolute;
    border-top-right-radius: 1.7vw;
    top: 6vw;
    left: 38vw;
    
    height: 8vw;
    background-color: var(--sideColor);
    z-index: 0;
    transition: all 0.4s ease-in-out;
}

.cb3_unext{
    width: 6.5vw;
}

.cb3_ext{
    width: 28.5vw;
   
}

#my_email{
    position: absolute;
    color: var(--mainColor);
    
    top: 0.3vw;
    transition: all 0.4s ease-in-out;
}

.mye_unext{
    left: -16vw;
    font-size: 1.4vw;
}


.mye_ext{
    left: 4vw;
    font-size: 1.5vw;
}

#em_logo{
    position: absolute;
    
    top: 1.5vw;
    cursor: pointer;
    height: 2vw;
    transition: all 0.4s ease-in-out;
}

.elg_unext{
    left: 3vw;
}

.elg_ext{
    left: 24.5vw;
}

.cls-2{
    fill: var(--mainColor);
}

.cls-1{
    fill: white;
}