@import '../../Variables.scss';

.socials{
    $logoTop: 1.5vw;
    .social_box{
        position: absolute;
        width: 18vw;
        height: 10vw;
        border-radius: 1.7vw;
        background-color: $mainColor;

        z-index: 1;
        .logo{
            position: relative;
            margin: $logoTop 0 0 2vw;
            float: left;
        }
        
        .git_logo, .be_logo, .in_logo{
            margin-left: 2vw;
        }
    }
    
    $transition: all 0.4s ease-in-out;
    .email_box{
        position: absolute;
        overflow: hidden;
        margin-left: 12.75vw;
        height: 10vw;
        background-color: $sideColor;
        border-top-right-radius: 1.7vw;
        
        z-index: 0;
        transition: $transition;
        &.unext{
            width: 10vw;
            .my_email{
                margin-left: -15vw;
                visibility: hidden;
            }
        }

        &.ext{
            width: 30.5vw;
            .my_email{
                margin-left: 6.5vw;
                visibility: visible;
            }
        }

        .my_email{
            position: absolute;
            color: $mainColor;
            font-size: 1.5vw;
            margin-top: 1.5vw;

            transition: $transition;
        }

        .em_logo{
            position: absolute;
            margin-top: $logoTop;
            right: 1.4vw;
            
            cursor: pointer;
            transition: $transition;
        }

        &:hover{
            &.unext{
                transform: translateX(0.65vw);
                .em_logo{
                    transform: scale(1.05,1.05);
                    right: 1.6vw;
                }
            }
        }
    }
}

@media screen and (max-width: $phoneWidth) {
    .socials{
        $logoSize: 4vw;
        .contact_logo{
            width: $logoSize;
            height: $logoSize;
        }
        $logoTop: 3vw;

        .social_box{
            width: 35vw;
            height: 20vw;
            border-radius: 1.7vw;
            .logo{
                margin: $logoTop 0 0 4vw;
            }
            
            .git_logo, .be_logo, .in_logo{
                margin-left: 4vw;
            }
        }
        
        .email_box{
            margin-left: 33vw;
            height: 20vw;

            &.unext{
                width: 12vw;
                .my_email{
                    margin-left: -33vw;
                }
            }
        
            &.ext{
                width: 49vw;
                .my_email{
                    margin-left: 4.5vw;
                }        
            }
        
            .my_email{
                margin-top: 3.25vw;
                font-size: 2.7vw;
            }
        
            .em_logo{
                margin-top: $logoTop;
                right: 3vw;
            }

            &:hover{
                &.unext{
                    transform: None;
                    .em_logo{
                        transform: None;
                        right: 3vw;
                    }
                }
            }
        }
    }

}