@import '../../Variables.scss';

#social_box{
    position: absolute;
    width: 18vw;
    height: 10vw;
    top: 7vw;
    left: 22vw;
    border-radius: 1.7vw;
    background-color: $mainColor;
    z-index: 1;

    .logo{
        position: relative;
        top: 1.5vw;
        left: 2vw;
        float: left;
    }
    
    #git_logo, #be_logo, #in_logo{
        margin-left: 2vw;
    }
}

#email_box{
    position: absolute;
    border-top-right-radius: 1.7vw;
    top: 7vw;
    left: 38vw;
    height: 8vw;
    background-color: $sideColor;
    z-index: 0;
    transition: all 0.4s ease-in-out;
    &.unext{
        width: 6.5vw;

        #my_email{
            left: -16vw;
            font-size: 1.4vw;
        }

        #em_logo{
            left: 3vw;
        }
    }

    &.ext{
        width: 28.5vw;

        #my_email{
            left: 4vw;
            font-size: 1.5vw;
        }

        #em_logo{
            left: 24.5vw;
        }
    }

    #my_email{
        position: absolute;
        color: $mainColor;
        top: 0.3vw;
        transition: all 0.4s ease-in-out;
    }

    #em_logo{
        position: absolute;
        top: 1.5vw;
        cursor: pointer;
        height: 2vw;
        transition: all 0.4s ease-in-out;
    }
}

.cls-2{
    fill: $mainColor;
}

.cls-1{
    fill: white;
}

@media screen and (max-width: $phoneWidth) {
    #social_box{
        width: 35vw;
        height: 20vw;
        top: 15vw;
        left: 3vw;
        border-radius: 1.7vw;
        .logo{
            top: 3vw;
            left: 4vw;
            .contact_logo{
                width: 4vw;
                height: 4vw;
            }
            
        }
        
        #git_logo, #be_logo, #in_logo{
            margin-left: 4vw;
        }
    }
    
    #email_box{
        top: 15vw;
        left: 36vw;
        height: 15vw;

        .contact_logo{
            width: 4vw;
            height: 4vw;
        }

        &.unext{
            width: 12vw;
    
            #my_email{
                left: -33vw;
                font-size: 2.7vw;
            }
    
            #em_logo{
                left: 5vw;
            }
        }
    
        &.ext{
            width: 49vw;
    
            #my_email{
                left: 4.5vw;
                font-size: 2.7vw;
            }
    
            #em_logo{
                left: 42vw;
            }
        }
    
        #my_email{
            top: 1vw;
        }
    
        #em_logo{
            top: 3vw;
        }
    }

}