#social_box{
    position: absolute;
    width: 18vw;
    height: 10vw;
    top: 12vw;
    left: 31vw;
    border-radius: 1.7vw;
    transform: translate(-50%, -50%);
    background-color: var(--mainColor);
    z-index: 1;

    .logo{
        position: relative;
        top: 1.5vw;
        left: 2vw;
        float: left;
    }
    
    #git_logo, #be_logo, #in_logo{
        padding-left: 2vw;
    }
}

#email_box{
    position: absolute;
    border-top-right-radius: 1.7vw;
    top: 7vw;
    left: 38vw;
    height: 8vw;
    background-color: var(--sideColor);
    z-index: 0;
    transition: all 0.4s ease-in-out;

    &.unext{
        width: 6.5vw;

        #my_email{
            left: -16vw;
            font-size: 1.4vw;
        }

        #em_logo{
            left: 3vw;
        }
    }

    &.ext{
        width: 28.5vw;

        #my_email{
            left: 4vw;
            font-size: 1.5vw;
        }

        #em_logo{
            left: 24.5vw;
        }
    }

    #my_email{
        position: absolute;
        color: var(--mainColor);
        top: 0.3vw;
        transition: all 0.4s ease-in-out;
    }

    #em_logo{
        position: absolute;
        top: 1.5vw;
        cursor: pointer;
        height: 2vw;
        transition: all 0.4s ease-in-out;
    }
}















.cls-2{
    fill: var(--mainColor);
}

.cls-1{
    fill: white;
}