@import '../Variables.scss';

.foot{
    position: relative;
    width: 100vw;
    height: 10vw;
    max-width: 100%;
    background-color: $mainColor;

    #foot_logo{
        position: relative;
        width: 8vw;
        top: -5vw;
        left: 28.2vw;
    }

    #foot-links{
        position: absolute;
        top: 4.5vw;
        left: 50vw;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        .foot-link{
            font-size: 1.5vw;
            margin: 2vw;
        }
    }
    
    #foot-copyright{
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50vw;
        top: 8vw;
        
        #copyright{
            font-size: 1.2vw;
            color: $sideColor;
        }
    }
}

@media screen and (max-width: $phoneWidth) {

    .foot{
        height: 17vw;
    
        #foot_logo{
            position: relative;
            top: -12vw;
            left: 20vw;
            .my_logo{
                height: 20vw;
                width: 20vw;
            }
        }
    
        #foot-links{
            position: absolute;
            top: 8vw;
            .foot-link{
                font-size: 2.2vw;
                margin: 1.5vw;
            }
        }
        
        #foot-copyright{
            top: 12.5vw;
            #copyright{
                font-size: 1.5vw;
            }
        }
    }
}