@import '../Variables.scss';

.navBar{
    position: absolute;
    top: 3vw;
    right: 3vw;

    z-index: 3;    
    .navItem {
        .navLink{
            font-size: 2vw;
            font-weight: 600;
            padding: 0.8vw;
            color: $mainColor;

            transition: color 0.4s ease-out; 
            &:hover{
                color: $sideColor;
            }

            &.hl{
                color: $sideColor;
                cursor: default;
            }

            &.iv{
                visibility: hidden;
            }
        }
    }
}

@media screen and (max-width: $phoneWidth) {
    .navBar{
        right: 3vw;
        top: 3vw;
        .navItem {
            .navLink{
                font-size: 3vw;
            }
        }
    }
}