




.navBar{
    position: absolute;
    right: 3vw;
    top: 3vw;
    z-index: 99;    
    .navItem {
        .navLink{
            font-size: 2vw;
            font-weight: 500;
            padding: 0.5vw;
            color: var(--mainColor);
            transition: color 0.5s ease-out; 
            
            &:hover{
                color: var(--sideColor);
            }
        }
        
    }
}

@media screen and (max-width: 640px) {
    .navBar{
        right: 3vw;
        top: 3vw;
        .navItem {
            .navLink{
                font-size: 3vw;
            }
            
        }
    }
    

}