.navLink{
    font-size: 2vw;
    font-weight: 500;
    padding: 6px;
    color: var(--mainColor);
    transition: color 0.5s ease-out; 
}

.navLink:hover{
    color: var(--sideColor);
}

.navItem {
    float: right;
}

#navBar{
    list-style-type: none;
    margin-right: 3vw;
    margin-top: 3vw;
}